NODE_ENV=production
PORT=5000

MONGO_URI=

JWT_SECRET=
JWT_EXPIRES_IN=30d

CLIENT_URL=https://www.web-district.com
ALLOWED_ORIGINS=https://www.web-district.com,https://web-district.com,http://localhost:5173

EMAIL_USER=
EMAIL_PASS=
OWNER_EMAIL=web.district22@gmail.com
EMAIL_FROM_NAME=Web District
EMAIL_ALLOW_SELF_SIGNED=false

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_FULL_NAME=Web District Admin
ADMIN_PHONE=01130696935

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
